body {
    display: grid;
    font-family: serif;
    font-size: 300%;
    height: 100vh;
    place-items: center;
}

h1 {
    animation: fade 1ms .5s forwards;
    opacity: 0;
}

.text-reveal {
    overflow: hidden;
    position: relative;
}

.text-reveal:after {
    animation: text-reveal 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    background-color: #157bad;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes text-reveal {
    from {
        transform: translateX(-101%);
    }
    to {
        transform: translateX(101%);
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }
}